{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <h1>Liste des liens</h1>
        </div>
    </div>
    <div class="row">
        <table class="col-md-offset-1 table-striped col-md-10">
            <thead>
            <tr>
                <th>Id</th>
                <th>Nom du Lien</th>
                <th>Categorie</th>
                <th>Auteur</th>
                <th>Url</th>
                <th>Date de création</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for link in links %}
                <tr>
                    <td><a href="{{ path('link_show', { 'id': link.id }) }}">{{ link.id }}</a></td>
                    <td>{{ link.name }}</td>
                    <td>{{ link.categorie }}</td>
                    <td>{{ link.author }}</td>
                    <td>{{ link.url }}</td>
                    <td>{% if link.createdAt %}{{ link.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                    <td>
                        <button type="button" class="btn btn-default btn-lg "><span><a class="glyphicon glyphicon-eye-open" href="{{ path('link_show', { 'id': link.id }) }}"></a></span></button>
                        <button type="button" class="btn btn-default btn-lg "><span><a class="glyphicon glyphicon-pencil" href="{{ path('link_edit', { 'id': link.id }) }}"></a></span></button>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="row">
        <div class="col-md-12">
            <a class="addLinks btn btn-default" href="{{ path('link_new') }}">Ajouter un Lien</a>
        </div>
    </div>
{% endblock %}
