{% extends 'base.html.twig' %}

{% block body %}
    <h1>Link list</h1>

    <table class="col-md-offset-1 table-striped col-md-10">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom du Lien</th>
                <th>Categorie</th>
                <th>Auteur</th>
                <th>Url</th>
                <th>Date de création</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for link in links %}
            <tr>
                <td><a href="{{ path('link_show', { 'id': link.id }) }}">{{ link.id }}</a></td>
                <td>{{ link.name }}</td>
                <td>{{ link.categorie }}</td>
                <td>{{ link.author }}</td>
                <td>{{ link.url }}</td>
                <td>{% if link.createdAt %}{{ link.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('link_show', { 'id': link.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('link_edit', { 'id': link.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a class="btn btn-default col-md-offset-10" href="{{ path('link_new') }}">Ajouter un Lien</a>
{% endblock %}
