<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>
            {% block title %}
                Welcome!
            {% endblock title %}
        </title>
        {% block stylesheets %}
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/app/bootstrap/3.3.6/css/bootstrap.min.css') }}" />
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/app/font-awesome/4.5.0/css/font-awesome.min.css') }}" />
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/app/style/style.css') }}" />
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}
            <div id="wrapper">
                <div id="container">
                    <header id="welcome">
                        <div class="container">
                            {% block body_title %}
                            {% endblock body_title %}
                        </div>
                    </header>
                    <section class="container" id="content">
                        {% block body_content %}
                        {% endblock body_content %}
                    </section>
                    <footer class="container" id="footer">
                        {% block body_footer %}
                        {% endblock body_footer %}
                    </footer>
                </div>
            </div>
        {% endblock %}
        {% block javascripts %}
            <script type="text/javascript" src="{{ asset('bundles/app/script/script.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/app/bootstrap/3.3.6/js/bootstrap.min.js') }}"></script>
        {% endblock %}
    </body>
</html>
